$accent-color-main: #2196F3; /*--text-color-accent, --background-color-accent, --link-color-active*/
$accent-color-secondary: #ffffff; /*--text-color-accent2, --background-color-main*/
$text-color-main: #212121; /*--text-color-main*/
$text-color-secondary:#757575; /*--text-color-secondary*/
$text-color-footer: rgba(255, 255, 255, 0.6);
$bg-color-secondary: #F5F4FA; /*--background-color-secondary*/
$bg-color-footer: #2F303A; /*--background-color-footer, --background-color-accent2*/
$bg-color-transparent1: rgba(47, 48, 58, 0.8); /*--background-color-transparent1*/
$bg-color-transparent2: rgba(33, 150, 243, 0.9); /*--background-color-transparent2*/
$link-color-inactive: #AFB1B8; /*--link-color-inactive*/
$nav-color-underline: #ECECEC ; /*--nav-underline:*/
$cards-color-line: #EEEEEE; /*--cards-line*/