.container {
    background-color: $accent-color-secondary;
   
    .header-container {
        margin-left: auto;
        margin-right: auto;
        
        @media screen and (min-width: $mobile) {
            width: 480px;
        }

        @media screen and (min-width: $tablet) { 
            width: 768px;
        }

        @media screen and (min-width: $desktop) { 
            width: 1600px;
        }
    }
}

.container.underline {
    border-bottom: 1px solid $nav-color-underline;
}

.header-container {
    .nav-container {
        @media screen and (max-width: $tablet) { 
            display: none;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        padding-left: 15px;
        padding-right: 15px;

        .site-nav {
            display: flex;
            margin-left: 85px;
        }
    }

    .mobnav-container {
        @media screen and (min-width: $mobile){
            max-width: 480px;
            height: 60px;
        }


        @media screen and (min-width: $tablet) {
            display: none;
        }

        
       
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-left: 15px;
        padding-right: 15px;
        
       

        background-color: $accent-color-secondary;
        
        .mob-menu-btn {
            display: inline-block;
            padding: 0;
            margin: 0;
            border: none;
            background-color: transparent;
        }
    }
}

.mob-menu-btn {
    .icon-menu {
        display: block;
    }

    .icon-cross {
        display: none;
    }

    &:hover .icon-menu,
    &:focus .icon-menu,
    &:hover .icon-cross,
    &:focus .icon-cross {
        fill: $accent-color-main;
    }
}

.mob-menu-btn.is-open {
    .icon-menu {
        display: none;
    }

    .icon-cross {
        display: block;
    }
}

.drop-menu {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 453px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    background-color: $accent-color-secondary;

    &.is-open {
        display: block;
    }
}

.site-nav {
    @media screen and (max-width: $tablet) {
        padding-top: 60px;
        margin-bottom: 60px;
        text-align: center;

        .item:not(:last-child) {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: $desktop) {
        .item + .item {
            margin-left: 50px;
        }
    }

    .link {
        @media screen and (max-width: $tablet) {
            display: block;
            margin-left: auto;
            margin-right: auto ;

            padding-bottom: 10px;
            
            font-size: 18px;
            line-height: 1.66;
        }

        @media screen and (min-width: $desktop) {
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;

            height: 80px;

            font-size: 14px;
            line-height: 1.15;
        }

        position: relative;
        display: block;
        font-weight: 500;
        letter-spacing: 0.02em;
        color: $text-color-main;
    }

    .studio-link {
        width: 66px;
    }

    .portfolio-link {
        width: 99px;
    }

    .contacts-link {
        width: 87px;
    }

    .link.current {
        color: $accent-color-main;
    }

    .link.current::after {
        position: absolute;
        bottom: 0;
        left: 0;
        
        width: 100%;
        height: 4px;
    
        content:'';
        background-color: $accent-color-main;
        border-radius: 2px;
    }
}

.site-contacts {
/*Mobile menu base! style*/
    text-align: center;

        .item:not(:last-child) {
            margin-bottom: 16px;
        }

    /*Mobile menu style*/


    /*Desktop menu style*/   
    @media screen and (min-width: $desktop) {
        display: inline-flex;
        align-items: center;
        margin-left: 305px;

        .item {
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }

        .item + .item {
            padding-left: 30px;
        }

        .item:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .link {
        @media screen and (max-width: $mobile) {
            font-size: 18px;
            line-height: 1.166;
        }

        @media screen and (min-width: $desktop) {
            font-size: 14px;
            line-height: 1.5;
        }

        font-weight: 500;
        letter-spacing: 0.02em;

        color: $text-color-secondary;
    }

    .item:hover .button-icon {
        fill: $accent-color-main;
    }
    
    .item:hover .link,
    .item:focus .link {
        color: $accent-color-main;
    }
}

.button-icon {
    fill: $text-color-secondary;
    margin-right: 10px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: $accent-color-main;
}

.mobnav-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}