/*Portfolio items container*/
.portfolio {
    display: flex;
    max-width: 1600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .portfolio-container { 
        padding-bottom: 94px;
    }
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-item {
    display: flex;
    margin-bottom: 30px;
    margin-bottom: 30px;
    margin-right: 30px;

    border: 1px solid $cards-color-line;

    /*к каждому 3му ел-ту*/
    .portfolio-item:nth-child(3n) {
        margin-right: 0;
    }
    /*к 3 последним ел-там*/
    .portfolio-item:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    /*альтернативный способ на основе calc
    width: calc ((100% - 60px) / 3 ;
    margin-right: 30px;
    formula
    calc((100% - (N of margin in row)*margin) / N of elements in row */
}

.portfolio-link {
    .portfolio-title {
        min-width: 322px;
        padding-right: 24px;
        padding-left: 24px;
        margin-top: 20px;
        margin-bottom: 4px;
    
        color: $text-color-main;
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    .portfolio-type {
        min-width: 322px;
        padding-right: 24px;
        padding-left: 24px;
        margin-top: 0;
        margin-bottom: 20px;
    
        color: $text-color-secondary;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.03em;
    }
    .portfolio-text {
        margin: 0;
    
        color: $accent-color-secondary;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
    }

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay {
        transform: translateY(0)
    }   
}

.image-thumb {
    position: relative;
    overflow: hidden;

    .portfolio-image {
        display: block;
     }

     .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        padding: 63px 24px;
        background-color: $bg-color-transparent2;
    
        transform: translateY(100%);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}