.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
        width: 528px;
        height: 581px;
        padding: 40px;
    
        background-color: $accent-color-secondary;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
}

.modal {
    .btn-close {
        position: absolute;
        top: 8px;
        right: 8px;
    
        border: 0;
        padding: 0;
        
        background-color: $accent-color-secondary;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form-title {
        width: 448px;
        margin-bottom: 12px;
    
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-color-main;
    }
}

.btn-close {
    &:hover .icon-close,
    &:focus .icon-close {
    fill: $accent-color-main;
    }
}

.input-field {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 448px;

    .label {
        display: inline-block;
    
        margin-bottom: 4px;
    
        color: $text-color-secondary;
    
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    }

    .input {
        height: 40px;
       
        padding-left: 42px;
        scroll-padding-right: 15px;
        margin-bottom: 10px;
        
        border: 1px solid rgba(33, 33, 33, 0.2);
        box-sizing: border-box;
        border-radius: 4px;
    
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) ;
    }

    .input-icon {
        position: absolute;
        top: 57%;
        left: 15px;
    
        display: inline-block;
    
        transform: translateY(-50%);
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .input,
    &:focus .input {
        border: 1px solid $accent-color-main;
    }

    &:hover .field-icon,
    &:focus .field-icon {
        fill: $accent-color-main;
    }

    .textarea {
        resize: none;

        width: 448px;
        height: 120px;
        padding: 12px 16px;
        margin-bottom: 25px;
    }
}

.textarea::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.input-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 24px;
    margin-bottom: 30px;

    .label {
        position: relative;
    
        display: block;
    
        padding-left: 24.4px;
        
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.03em;
    }
}

.label {
    .checkbox {
        -webkit-appearance: none;
        appearance: none;
    }

    .check-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    
        display: flex;
        justify-content: center;
        align-items: center;
       
        content: '';
        width: 16px;
        height: 15px;
    
        border: 1.5px solid $text-color-main;
        border-radius: 2px;
    }

    .agreement-link {
        color: $accent-color-main;
    }
}

.checkbox {
    &:checked + .check-icon {
        background-color: $accent-color-main;
        border-color: $accent-color-main;
    }
}

.check-icon {
    .cheked-icon {
        display: block;
    }
}

.button.form {
    margin-left: auto;
    margin-right: auto;
}