/*Section "Our Ptojects"*/
.projects-container {
    max-width: 1600px;
    margin-left:auto;
    margin-right: auto;

    .projects-section {
        padding-top: 94px;
        padding-bottom: 94px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left:auto;
        margin-right: auto;
    }
}

.projects-section {
    .section-title {
        margin-top: 0;
        margin-bottom: 50px;
    
        color: var(--text-color-main);
        font-weight: bold;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }
}

.projects-list {
    display: flex;
    justify-content: center;

    .project-item {
        display: inline-block;
    
        width: 370px;
        height: 294px;
    }

    .project-item + .project-item {
        margin-left: 30px;
    }
}

.project-item {
    .project-thumb {
        position: relative;
    }
}

.project-thumb {
    .project-image {
        display: block;
    }

    .overlink {
        position: absolute;
        bottom: 0;
    }
}

.overlink {
    .project-link {
        display: inline-block;
        min-width: 370px;
        height: 70px;
        padding: 27px 82px;
    
        color: $accent-color-secondary;
        background-color: $bg-color-transparent1;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
    }
}